# Environment / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Alembic temporary files
alembic/__pycache__/

# OS
.DS_Store
Thumbs.db
